
// Body
$gray: #f5f8fa;
$blue: #3278fe;
$orange: #f28700;
$walletconnect: #419bf9;
$ledger: #2f3137;
$metamask: rgb(244,133,46);
$tokenary: rgb(50,127,241); //#327FF1
$grey: rgb(95,99,104);
$lightGrey: #9F9F9F;
$darkGrey: #5C5C5C;
$black: rgb(32,33,35);
$incoming: #56B268;
$failed: #FB2D55;
$pending: #F7AB22;
$iconGrey: rgb(95,99,104);
$iconLightGrey: rgb(241,243,244);
$iconBlue: rgb(32,106,207);
$iconLightBlue: rgb(232,240,253);
$backgroundLightGrey: rgb(245,245,245);
$backgroundBlue: rgb(32,106,207);
$backgroundLightBlue: rgb(232,240,253);